
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif;

}
.navbar {
  background-color: #14325C;
}   

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar .navbar-collapse {
    justify-content: space-between;
}
.navbar-brand {
  color: #fcfcfd;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  padding-left: 64px;
  padding-right: 64px;
}
.wrapper{
    background-color: #14325C !important;
    height: 100vh;
}
.hero {
  
}
.hero_title{
    font-size: 48px;
    color: #FEFEFE;
}
.hero_subtitle{
    color: #FEFEFE;
    font-size: 16px;
}
.buttonLogin{
    border-radius: 20px;
    width: 55px;
}
.buttonSignUp{
    border-radius: 20px;
}
.img_hero{
    width: 70%;
}