@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f6f8;
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.img_hero_detail_event_mobile{
  display: none;
}
.img_detail_course_mobile{
  display: none !important;
}
.hero_title{
  margin-top: 30px;
}
.img_hero_home_mobile{
  display: none !important;
}
.img_hero_boot_mobile{
  display: none;
}
.hero_title_main_layout_bootcamp{
  font-size: 38px;
  color: #fefefe;
  font-weight: 600 !important;
}
.hero_title_detail_event{
  font-size: 32px;
  color: #fefefe;
  font-weight: 500 !important;

}

@media screen and (max-width: 768px) {

  .containerImgMainCourse{
    width: 100%;
    display: flex !important;
    justify-content: center;
  } 
  .hero_title_layout_bootcamp{
    margin-top: 10px;
  }
  .hero_title_main_layout_bootcamp{
    font-size: 28px !important;
    color: #fefefe;
  }
  .img_hero_boot{
    display: none !important;
  }
  .img_hero_boot_mobile{
    display: block;
    width: 100%;
  }
  .about_us_title{
    font-size: 28px !important;
  }
  .title_big_class{
    font-size: 32px !important;
    font-weight: 600;
  }
  .list_why_us_text{
    font-size: 12px !important;
  }
  .title_item_why_us{
    font-size: 16px !important;
  }
  .list_why_us_col{
    padding: 10px !important;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #fff !important;
  }
  .subtitle_why_us{
    font-size: 12px !important;
  }
  .title_why_us{
    font-size: 24px !important;
    margin-top: 32px;
  }
  .subHeroMain2{
    font-size: 12px !important;
  }
  .subHeroMain{
    font-size: 20px !important;
  }
  .about_us_text{
    font-size: 12px !important;
  }
  .about_us_title{
    margin-top: 15px;
    font-size: 32px;
  }
  .img_hero_home_mobile{
    display: block !important;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 15px;
    /* border-radius: 20px; */
  }
  .img_hero_home{
    display: none !important;
  }
  .hero_title{
    margin-top: 0px;
  }
  .img_detail_course{
    display: none !important;
  }
  .img_detail_course_mobile{
    display: block !important;
    width: 85% !important;
    border-radius: 20px;
  }
  .img_hero_detail_event{
    display: none !important;
  }
  .img_hero_detail_event_mobile{
    display: block !important;
    width: 85% !important;
    border-radius: 20px;
  }
  .navbar {
    padding-left: 0px !important;
    padding-right: 0px !important;

    background: linear-gradient(to right, #14325c, #17355e);
  }
  .navbar-collapse {
    background: linear-gradient(to right, #14325c, #17355e);
    text-align: center;
  }
  .navbar-collapse .button-navbar-wrapper {
    display: inline-block !important;
    justify-content: center;
    align-items: center; /* Align items vertically */
  }
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav .nav-item {
    display: inline-block !important;
  }
  .navbar-collapse .button-navbar-wrapper button {
    display: inline-block; /* Display buttons horizontally */
    margin: 0 5px; /* Adjust margin as needed */
  }

  .subHeroMain2 {
    color: #fff;
    font-size: 16px;
  }
  .img_hero_home {
    margin-right: 0px !important;
    width: 100%;
  }
  .silabus {
    padding: 0px !important;
    margin-top: 20px;
  }
  .benefit_img {
    width: 80px !important;
    height: 80px !important;
  }
  .card_benefit {
    border-radius: 80px 80px 80px 0px !important;
  }
  .hero_title_layout_event {
    margin-top: 80px;
    margin-bottom: 120px;
  }
}
.benefit_img {
  border-radius: 80px !important;
  width: 100%;
  height: 120px;
}

.navbar .navbar-collapse {
  justify-content: space-between;
}
.navbar-brand {
  color: #fcfcfd;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  padding-left: 64px;
  padding-right: 64px;
  height: 64px;
}
.wrapper {
  background: linear-gradient(to right, #14325c, #17355e);
}

.hero {
  margin-top: 50px;
}
.subHeroRow {
  background: #17355e;
  height: 120px;
  align-items: center;
}
.subHeroMain {
  color: #fff;
  font-size: 32px;
}
.subHeroMain2 {
  color: #fff;
  font-size: 20px;
}
.hero_title {
  font-size: 42px;
  color: #fefefe;
}
.hero_title_layout_event {
  font-size: 32px;
  color: #fefefe;
  margin-bottom: 120px;
}
.hero_subtitle {
  color: #f0f2f4;
  font-size: 14px;
  margin-top: 25px;
}
.buttonLogin {
  border-radius: 20px;
  width: 55px;
}
.buttonSignUp {
  border-radius: 20px;
}
.img_hero_home {
  width: 100%;
  margin-right: 15%;
  margin-bottom: 0%;
  /* border-radius: 20px; */
}
.img_hero {
  width: 100%;
  margin-right: 0px;
  margin-bottom: 0%;
  /* border-radius: 20px; */
}
.profil_mentor {
  width: 50px;
  height: 50px;
}
.nama_mentor {
  font-size: 14px;
  color: #17355e;
  margin: 0px;
  padding: 0px;
}
.jabatan_mentor {
  font-size: 12px;
  color: #6c6c6c;
  margin: 0px;
  padding: 0px;
}
.btn-hero1 {
  background-color: #fff;
  border: 1px solid #fff; /* Set the border color */
  color: #2c5fa4; /* Set the text color */
  width: 180px;
  height: 45px;
  border-radius: 20px;
}

.btn-outline-transparent {
  background-color: transparent;
  border: 1px solid #fff; /* Set the border color */
  color: #fff; /* Set the text color */
  border-radius: 20px;
  width: 180px;
  height: 45px;
}
.about_us {
  background-color: #f2f6f8;
}
.about_us_img {
  width: 80%;
  margin-right: 20%;
}
.about_us_title {
  font-size: 42px;
  color: #383838;
}
.about_us_text {
  font-size: 14px;
  margin-top: 18px;
  color: #6c6c6c;
}
.about_us .container {
  padding-top: 76px;
  padding-bottom: 50px;
}
.title_big_class {
  font-size: 32px;
}
.why_us {
  background-color: #f2f6f8;
}
.rekomendasi_kelas {
  background-color: #f2f6f8;
}
.img_why_us {
  width: 100%;
  height: 100%;
  /* border-radius: 10px 30px 120px 10px; */
}
.img_item_why_us {
  width: 35px;
  height: 35px;
}
.title_why_us {
  font-size: 32px;
}
.list_why_us_text {
  font-size: 14px;
  color: #6c6c6c;
}
.subtitle_why_us {
  color: #7b7c7c !important;
  font-size: 16px;
}
.ket1_kelas {
  font-size: 13px;
  color: #2c5fa4;
  width: 100%;
}

.ket2_kelas {
  font-size: 13px;
  color: #2c5fa4;
  width: 100%;
}

.benefit {
  background-color: #f2f6f8;
}
.benefit_event_text {
  font-size: 11px;
  color: #6c6c6c;
}

.alert_event {
  border-radius: 20px !important;
  height: 30px;
  font-size: 13px;
}
.iconKetHari {
  width: 16px;
  height: 16px;
}
.textKetHari {
  font-size: 10px;
  color: #2c5fa4;
}
.event_keterangan {
  font-size: 12px;
}
.title_item_why_us {
  font-size: 20px;
}
.card_kelas {
  border: none;
  border-radius: 20px !important;
}
.event_brand {
  font-size: 32px;
  color: #383838;
}
.event_sub_brand {
  font-size: 14px;
  color: #6c6c6c;
}

.title_event {
}
.img_hero_event {
  width: 100%;
  height: 50%;
}
.card_why_detail_course {
  border: none;
  border-radius: 20px !important;
}
.rowHeroLayoutEvent {
  height: 100%;
}

.img_hero_boot {
  width: 80%;
}

.img_detail_Card {
  margin-bottom: 10%;
  border-radius: 10%;
}
.img_detail_course{
  width: 80%;
  height: 80%;
  border-radius: 10%;
}
/* .footer {
  padding: 20px;
}
.footer_brand {
  color: #fff;
}
.footer_email {
  color: #fff;
}
.footer_telp {
  color: #fff;
}
.footer_list {
  list-style: none;
}
.footer_list_item {
  color: #fff;
}

.footer {
  border-top: 1px solid #e5e5e5;
  color: #ffffff;
}

.footer a {
  color: #ffffff;
}

.footer a:hover {
  color: #007bff;
}

.footer h5 {
  margin-bottom: 0.5rem;
}

.footer p {
  margin-bottom: 1rem;
}

.footer ul {
  padding-left: 0;
  list-style-type: none;
}

.footer ul li {
  margin-bottom: 0.25rem;
}

.footer ul li a {
  display: block;
} */

.silabus_path {
  /* background: linear-gradient(to right, #14325c, #17355e); */
}
.silabus {
  background-color: #f2f6f8;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 68px;
}
.silabus_title {
  font-size: 32px;
  color: #fff;
}
.garisVertikal {
  border-left: 2px solid #17355e;
  height: 100%;
}
.panahSilabus {
  font-size: 32px;
  color: #17355e;
}
.silabus_path_title {
  font-size: 20px;
  color: #17355e;
}
.silabus_path_title2 {
  font-size: 21px;
  color: #17355e;
  font-weight: 700;
}
.silabus_path_text {
  font-size: 14px;
  color: #6c6c6c;
}
.mentor_main_title {
  font-size: 32px;
  color: #17355e;
}
.mentor_main_subtitle {
  font-size: 14px;
  color: #6c6c6c;
}
.biodata_mentor {
  margin-top: 5px;
}
.list_materi_silabus {
  font-size: 14px;
  color: #6c6c6c;
}
.ulasan_klien_main_title {
  font-size: 32px;
  color: #17355e;
}
.ketEventHiro {
  margin-top: -70px !important;
  padding-left: 5%;
  padding-right: 5%;
}
.ketEventHiro .col-12 .card {
  height: 100% !important;
  border: none;
  border-radius: 20px !important;
  padding: 12px;
}
.ketEventHiroTitle {
  font-size: 14px;
  color: #17355e;
}
.ketEventHiroSubtitle {
  font-size: 12px;
  color: #6c6c6c;
  font-weight: 700;
}
.title_deskripsi_detail_event {
  font-size: 28px;
  font-weight: 500;
  color: #17355e;
}
.detail_event_text {
  font-size: 14px;
  color: #6c6c6c;
}
.detail_event .card {
  border: none;
}
.detail_event_main {
  font-size: 28px;
  font-weight: 500;
}
.ketEventKey {
  font-size: 14px;
  color: #17355e;
}
.ketEventValue {
  font-size: 14px;
  color: #6c6c6c;
}
.card_benefit {
  border: none;
  border-radius: 80px;
}
.navbar {
  z-index: 50;
}
.card_kelas {
  cursor: pointer !important;
}
.title_why_us_detail_course {
  font-size: 32px;
  color: #17355e;
}
.detail_course_why_us_title {
  font-size: 20px;
  color: #17355e;
  font-weight: 700;
}
.detail_course_why_us_text {
  font-size: 14px;
  color: #6c6c6c;
}
.card_silabus {
  border-radius: 20px;
  padding: 20px 50px 50px 20px !important;
}
.card_mentor {
  border-radius: 20px;
  padding: 20px 10px 10px 10px;
}
.card_event_lainnya {
  border: none;
}
.kebalikanHero {
  margin-top: 10px;
  background: linear-gradient(to right, #17355e, #14325c);
  height: 250px;
  display: flex;
  align-items: center;
}
.heroBawahTitle {
  font-size: 32px;
  color: #f0e5e5;
}
.heroBawahText {
  font-size: 14px;
  color: #f0e5e5;
}
.card_benefit_layout {
  border: none;
  border-radius: 20px;
}
/* .col-md-4 {
  padding-left: 0px !important;
} */
.img_hero_detail_event {
  width: 65% !important;
}
.hero_title_layout_bootcamp {
  font-weight: 600;
  font-size: 34px;  
  color: #fefefe
}
