@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f6f8;
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
 .navbar{
  padding: 0px !important;
 }
 .subHeroMain2 {
  color: #fff;
  font-size: 16px !important;
}
.img_hero{
  margin-right: 0px !important;
  width: 100%;
}
}

.navbar .navbar-collapse {
  justify-content: space-between;
}
.navbar-brand {
  color: #fcfcfd;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  padding-left: 64px;
  padding-right: 64px;
  height: 64px;
}
.wrapper {
  background: linear-gradient(to right, #14325c, #17355e);
}

.hero {
  margin-top: 50px;
}
.subHeroRow {
  background: #17355E;
  height: 120px;
  align-items: center;
}
.subHeroMain {
  color: #fff;
  font-size: 32px;
}
.subHeroMain2 {
  color: #fff;
  font-size: 20px;
}
.hero_title {
  font-size: 38px;
  color: #fefefe;
}
.hero_subtitle {
  color: #f0f2f4;
  font-size: 14px;
  margin-top: 25px;
}
.buttonLogin {
  border-radius: 20px;
  width: 55px;
}
.buttonSignUp {
  border-radius: 20px;
}
.img_hero {
  width: 100%;
  margin-right: 15%;
  margin-bottom: 0%;
  /* border-radius: 20px; */
}
.btn-hero1 {
  background-color: #fff;
  border: 1px solid #fff; /* Set the border color */
  color: #2c5fa4; /* Set the text color */
  width: 180px;
  height: 45px;
  border-radius: 20px;
}

.btn-outline-transparent {
  background-color: transparent;
  border: 1px solid #fff; /* Set the border color */
  color: #fff; /* Set the text color */
  border-radius: 20px;
  width: 180px;
  height: 45px;
}
.about_us {
  background-color: #f2f6f8;
}
.about_us_img {
  width: 80%;
  margin-right: 20%;
}
.about_us_title {
  font-size: 44px;
  color: #383838;
}
.about_us_text {
  font-size: 14px;
  margin-top: 18px;
  color: #6c6c6c;
}
.about_us .container {
  padding-top: 76px;
  padding-bottom: 50px;
}
.title_big_class {
  font-size: 32px;
}
.why_us {
  background-color: #f2f6f8;
}
.rekomendasi_kelas {
  background-color: #f2f6f8;
}
.img_why_us {
  width: 100%;
  height: 100%;
  /* border-radius: 10px 30px 120px 10px; */
}
.img_item_why_us {
  width: 35px;
  height: 35px;
}
.title_why_us {
  font-size: 32px;
}
.list_why_us_text {
  font-size: 14px;
  color: #6c6c6c;
}
.subtitle_why_us {
  color: #7b7c7c !important;
  font-size: 16px !important;
}
.ket1_kelas {
  font-size: 13px;
  color: #2c5fa4;
  width: 100%;
}

.ket2_kelas {
  font-size: 13px;
  color: #2c5fa4;
  width: 100%;
}

.benefit {
  background-color: #fafafd;
}
.benefit_event_text {
  font-size: 12px;
}
.alert_event {
  border-radius: 20px !important;
  height: 30px;
  font-size: 13px;
}
.iconKetHari {
  width: 16px;
  height: 16px;
}
.textKetHari {
  font-size: 10px;
  color: #2c5fa4;
}
.event_keterangan {
  font-size: 12px;
}
.title_item_why_us {
  font-size: 20px;
}
.card_kelas {
  border: none;
  border-radius: 20px !important;
}
.event_brand {
  font-size: 32px;
  color: #383838;
}
.event_sub_brand {
  font-size: 14px;
  color: #6c6c6c;
}
/* .footer {
  padding: 20px;
}
.footer_brand {
  color: #fff;
}
.footer_email {
  color: #fff;
}
.footer_telp {
  color: #fff;
}
.footer_list {
  list-style: none;
}
.footer_list_item {
  color: #fff;
}

.footer {
  border-top: 1px solid #e5e5e5;
  color: #ffffff;
}

.footer a {
  color: #ffffff;
}

.footer a:hover {
  color: #007bff;
}

.footer h5 {
  margin-bottom: 0.5rem;
}

.footer p {
  margin-bottom: 1rem;
}

.footer ul {
  padding-left: 0;
  list-style-type: none;
}

.footer ul li {
  margin-bottom: 0.25rem;
}

.footer ul li a {
  display: block;
} */

.silabus_path{
  background: linear-gradient(to right, #14325c, #17355e);
}
.garisVertikal{
  border-left: 2px solid #fff;
  height: 100%;
}
.panahSilabus{
  font-size: 32px;
  color: #fff;
}
